.cart-wrap {
    padding: 0 80px;
    width: 93.75%;
    margin: 0 auto;
}
.cart-hd img {
    vertical-align: bottom;
}
.cart-hd_title {
    text-transform: uppercase;
    font-size: 20px;
    color: #000;
    letter-spacing: 1px;
    margin-left: 20px;
}
.cart-bd {
    margin-top: 80px;
}
.cart-bd .table > thead > tr > th {
    border-color: #000;
    font-size: 16px;
    letter-spacing: 2px;
}
.cart-bd .table > tbody > tr > td {
    letter-spacing: 1px;
    border-top: 0;
}
.cart-pro_name {
    font-size: 14px;
    color: #000;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.cart-pro_sku {
    font-size: 12px;
    color: #808080;
    text-decoration: underline;
    letter-spacing: 1px;
}
.cart-pro_price {
    color: #000;
    letter-spacing: 1px;
}
.cart-control a {
    color: #808080;
    font-size: 16px;
    text-decoration: underline;
}
.cart-cal {
    position: relative;
    width: 120px;
}
.cart-minus {
    position: absolute;
    top: 0;
    left: -25px;
}
.cart-plus {
    position: absolute;
    top: 0;
    right: -25px;
}
.cart-cal .cart-pro_num {
    width: 120px;
    height: 50px;
    line-height: 50px;
    background: #000;
    color: #fff;
    font-size: 14px;
    text-align: center;
}
.cart-actual_price {
    font-size: 14px;
    color: #000;
}
.cart-origin_price{
    font-size: 14px;
    color: #808080;
}
.cart-coupon_wrap {
    position: relative;
}
.cart-coupon_hd {
    width: 234px;
    position: relative;
}
.cart-coupon_wrap .cart-selected_coupon {
    position: absolute;
    top: 0;
    color: #fff;
    left: 0;
    height: 50px;
    line-height: 50px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.cart-arrow_down {
    position: absolute;
    top: 50%;
    right: 22px;
    margin-top: -10px;
}
.cart-coupon_bd {
    border: 2px solid #000;
    padding: 25px 40px;
    box-sizing: border-box;
    width: 354px;
}
.cart-coupon_item {
    color: #000;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.cart-coupon_item span {
    margin-left: 10px;
}
.cart-coupon_control {
    margin-top: 20px;
}
.cart-coupon_control .btn-cart_coupon {
    float: left;
    background: #000;
    width: 130px;
    border-radius: 0;
    color: #fff;
    margin-left: 10px;
    height: 50px;
    line-height: 50px;
    padding: 0;
    text-align: center;
}
.cart-coupon_control .btn-cart_coupon:hover {
    background: #000;
    color: #fff;
}
.cart-coupon_control .btn-cart_coupon:first-child {
    margin-left: 0;
}
.cart-disabled .cart-pro_num {
    background: #bfbfbf;
}
.cart-pro_out {
    color: #7d7d7d;
    font-size: 16px;
    margin-top: 10px;
    width: 120px;
    text-align: center;
}
.cart-pro_not {
    color: #7d7d7d;
    font-size: 16px;
    margin-top: 10px;
    width: 170px;
    text-align: center;
    margin-left: -25px;
}
.cart-table_control {
    padding: 20px 0;
    border-top: 2px solid #000;
}
.cart-table_control>div {
    float: left;
}
.cart-table_control .btn {
    float: left;
    height: 50px;
    line-height: 50px;
    padding: 0;
    width: 300px;
    text-align: center;
    color: #fff;
    background: #7d7d7d;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 0;
    margin-left: 15px;
}
.cart-table_control .cart-allremove {
    margin-left: 45px;
}
.cart-table_control .btn:hover {
    color: #fff;
    background: #7d7d7d;
}
.cart-allcheck {
    height: 50px;
    line-height: 50px;
    color: #000;
    letter-spacing: 1px;
}
.cart-allcheck input[type=checkbox] {
    margin-top: 0;
    margin-right: 15px;
    vertical-align: middle;
}
.cart-ft {
    margin-top: 60px;
}
.cart-mycoupon_title img {
    vertical-align: bottom;
}
.cart-mycoupon_title span{
    text-transform: uppercase;
    font-size: 20px;
    color: #000;
    letter-spacing: 1px;
    margin-left: 20px;
}
.cart-mycoupon_bd {
    margin-top: 40px;
}
.cart-mycoupon_bd ul {
    border-bottom: 1px solid #000;
    margin-bottom: 0;
}
.cart-mycoupon_bd ul li {
    float: left;
    width: 380px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background: #000;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: -1px;
}
.cart-mycoupon_bd .nav-tabs>li>a{
    height: 50px;
    line-height: 50px;
    padding: 0;
    margin: 0;
    border-radius: 0;
    color: #fff;
    border: 0;
    border-right: 1px solid #fff;
}
.cart-mycoupon_bd .nav-tabs>li>a:focus, .cart-mycoupon_bd .nav-tabs>li>a:hover {
    background: #000;
    /* border-color: #000; */
}
.cart-mycoupon_bd .nav-tabs>li.active>a {
    color: #000;
    background: #fff;
    border: 1px solid #000;
    border-left: 0;
    border-bottom: 0;
}
.cart-mycoupon_bd .nav-tabs>li.active>a:hover, .cart-mycoupon_bd .nav-tabs>li.active>a:focus {
    background: #fff;
    border-color: #000;
    border-bottom: 0;
    border-left: 0;
}
.cart-mycoupon_bd .nav-tabs>li.active:first-child>a {
    border-left: 1px solid #000;
}
.cart-mycoupon_ft {
    height: 60px;
    line-height: 60px;
    padding-left: 50px;
    border: 1px solid #000;
    border-top: 0;
    font-size: 18px;
    letter-spacing: 1px;
    color: #000;
}
.cart-mycoupon_ft span {
    font-size: 20px;
    margin-left: 15px;
}
.cart-control_wrap {
    margin-top: 150px;
}
.cart-total_info {
    padding-right: 10px;
}
.cart-total_info ul {
    margin-bottom: 0;
    text-align: right;
}
.cart-total_info li >div {
    display: inline-block;
    color: #808080;
    font-size: 18px;
}
.cart-total_num {
    margin-right: 80px;
}
.cart-total_num span {
    color: #000;
    font-size: 30px;
    margin-left: 20px;
    margin-right: 25px;
}
.cart-info_text {
    width: 180px;
    text-align: left;
}
.cart-total_info li .cart-info_money {
    min-width: 200px;
    color: #000;
    text-align: right;
    font-size: 24px;
    letter-spacing: 1px;
}
.cart-total_info li .cart-total {
    font-size: 30px;
}
.cart-next {
    text-align: right;
    margin-top: 30px;
}
.cart-next .btn {
    float: right;
    border-radius: 0;
    color: #fff;
    background-image: url('../images/update_cart.png');
    background-repeat: no-repeat;
    height: 50px;
    line-height: 50px;
    width: 288px;
    text-align: center;
    padding: 0;
    font-size: 20px;
    letter-spacing: 2px;
}
.cart-next .btn:hover {
    color: #fff;
}
.cart-next .btn.checkout {
    margin-left: 18px;
}
.cart-promotion_wrap {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    padding: 40px 45px;
}
.cart-mycoupon_item {
    float: left;
    width: 337px;
    height: 160px;
    background-image: url('../images/coupon-back.png');
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
    padding-top: 24px;
    padding-bottom: 6px;
    position: relative;
    margin-bottom: 5px;
}
.cart-mycoupon_price {
    font-size: 72px;
    height: 55px;
    line-height: 55px;
}
.cart-mycoupon_price span {
    font-size: 24px;
    margin-right: 15px;
}
.cart-mycoupon_price strong {
    font-size: 36px;
    font-style: normal;
}
.cart-mycoupon_limit {
    font-size: 21px;
    letter-spacing: 2px;
}
.cart-mycoupon_date {
    font-size: 16px;
    letter-spacing: 1px;
}
.mycoupon-status {
    position: absolute;
    top: 0;
    left: 0;
    color: #af936e;
    font-size: 14px;
    width: 50px;
    line-height: 16px;
}
.last-coupon {
    background-image: url('../images/coupon-back1.png');
}
.unused-coupon {
    background-image: url('../images/coupon-back2.png');
}
.normal-coupon {
    background-image: url('../images/coupon-back3.png');
}
.last-coupon .mycoupon-status {
    color: #120a8f;
    font-size: 15px;
    width: 35px;
    text-align: left;
    left: 8px;
}
.mycoupon-status em {
    display: block;
    font-style: normal;
    font-size: 24px;
}
.mycoupon-status small {
    font-size: 10px;
}
.mycoupon-tips {
    margin-top: 16px;
}
.mycoupon-tips>div {
    float: left;
    height: 50px;
    line-height: 50px;
}
.mycoupon-check {
    margin-left: 88px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #000;
}
.mycoupon-check input[type=checkbox] {
    margin: 0;
    margin-right: 10px;
    vertical-align: middle;
}
.mycoupon-tips_more {
    margin-left: 55px;
}
.mycoupon-tips_more img {
    vertical-align: middle;
    margin-right: 20px;
}
.mycoupon-tips_more span {
    color: #808080;
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: underline;
    text-transform: uppercase;
}
.mycoupon-confirm_wrap {
    margin-left: 65px;
}
.mycoupon-confirm_wrap .btn {
    border-radius: 0;
    width: 170px;
    height: 50px;
    line-height: 50px;
    background: #000;
    text-align: center;
    color: #fff;
    font-size: 14px;
    padding: 0;
}
.mycoupon-confirm_wrap .btn:hover {
    color: #fff;
    background: #000;
}