.order-wrap {
  padding: 0 80px;
  width: 93.75%;
  margin: 0 auto;
}
.osubmit-item_title img {
  vertical-align: bottom;
}
.osubmit-item_title .pull-left span {
  text-transform: uppercase;
  font-size: 24px;
  color: #000;
  letter-spacing: 5px;
  margin-left: 15px;
}
.osubmit-item_title .btn {
  border-radius: 0;
  width: 410px;
  letter-spacing: 2px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  background-color: #000;
  padding: 0;
  font-size: 18px;
  text-align: center;
  border: 0;
  position: relative;
  margin-right: 25px;
}
.osubmit-item_title .btn img {
  position: absolute;
  right: -25px;
  top: 0;
}
.osubmit-item_title .btn:hover {
  color: #fff;
  background-color: #000;
}
.osubmit-item_bd {
  margin-top: 30px;
}
.osubmit-item_bd li {
  float: left;
  padding: 0;
  width: 33.33333333%;
  padding-left: 25px;
}
.osubmit-item_bd li:nth-child(3n+1) {
  padding-left: 0;
}
.osubmit-item_bd .address-item.active {
  color: #fff;
  background-color: #000;
}
.address-item {
  width: 100%;
  border: 1px solid #000;
  padding: 50px 0 65px 50px;
  letter-spacing: 2px;
  color: #000;
  border-bottom-right-radius: 18px;
  text-transform: uppercase;
  position: relative;
}
.address-item.active .checked-addr {
  position: absolute;
  bottom: -2px;
  right: -2px;
}
.address-item_index {
  font-style: italic;
  font-size: 14px;
  margin-bottom: 35px;
}
.address-item_info {
  font-size: 18px;
}
.address-item_phone span {
  margin-right: 20px;
}
.address-item_detail {
  font-size: 18px;
  margin-top: 40px;
}
.more-address {
  text-transform: uppercase;
  border-bottom: 1px solid #000;
  color: #808080;
  text-align: center;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 15px 0;
  cursor: pointer;
  position: relative;
}
.more-address img {
  position: absolute;
  left: 50%;
  margin-left: -18px;
  bottom: -18px;
}
.osubmit-payment {
  margin-top: 110px;
}
.osubmit-item_title .payment-tips {
  font-size: 14px;
  margin-left: 50px;
}
.osubmit-item_title .payment-tips em {
  font-style: normal;
  text-decoration: underline;
  margin-left: 20px;
}
.payment-list {
  border: 1px solid #000;
}
.payment-item {
  float: left;
  width: 25%;
  text-align: center;
  height: 100px;
  line-height: 100px;
  position: relative;
}
.payment-item.bank-card  .more-bank {
  position: absolute;
  bottom: 0;
  left: 50%;
  line-height: initial;
  margin-left: -23px;
  bottom: -16px;
}
.payment-item  label img {
  margin-left: 30px;
}
.bank-list {
  border: 1px solid #000;
  border-top: 0;
}
.bank-item {
  float: left;
  width: 25%;
  text-align: center;
  height: 108px;
  line-height: 108px;
}
.shopping-list {
  margin-top: 115px;
}
.order-info {
  font-size: 18px;
  color: #000;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.order-info .order-date {
  margin-left: 55px;
}
.paid-product {
  color: #000;
  font-size: 14px;
  letter-spacing: 2px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.paid-pro_sku {
  color: #808080;
  font-size: 12px;
  text-decoration: underline;
}
.paid-origin_price {
  color: #808080;
  font-size: 12px;
  text-decoration: line-through;
}
.discount-info {
  color: #808080;
  font-size: 12px;
}
.paid-product.table>tbody>tr>td {
  border: 0;
}
.invoice-list {
  margin-top: 135px;
}
.invoice-hd {
  height: 100px;
  line-height: 100px;
  padding-left: 40px;
  border: 1px solid #000;
  color: #000;
  letter-spacing: 2px;
}
.invoice-hd_item {
  float: left;
}
.invoice-hd_item .need-invoice {
  font-size: 16px;
  margin-left: 40px;
  margin-right: 30px;
}
.invoice-hd_item .invoice-tips {
  text-decoration: underline;
  margin-left: 15px;
  text-transform: uppercase;
}
.invoice-bd {
  margin-top: 20px;
  width: 100%;
}
.invoice-list .invoice-bd li {
  width: 50%;
}
.invoice-item {
  border: 1px solid #000;
  border-bottom-right-radius: 18px;
  color: #000;
  background: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  height: 415px;
  padding-top: 50px;
  padding-left: 40px;
  position: relative;
}
.invoice-index {
  font-style: italic;
  font-size: 14px;
}
.invoice-bank {
  margin-top: 40px;
}
.invoice-bd_title {
  font-size: 16px;
}
.invoice-bd_info {
  font-size: 18px;
  width: auto;
  margin-left: 30px;
  text-transform: initial;
}
.invoice-addr span {
  display: block;
}
.invoice-item.selected {
  background-color: #000;
  color: #fff;
}
.invoice-item.selected .checked-invoice {
  position: absolute;
  right: -2px;
  bottom: -2px;
}
.used-coupon {
  margin-top: 100px;
}
.used-coupon_list {
  padding: 15px 0;
  border-top: 1px solid #000;
}
.used-coupon_item {
  float: left;
  width: 337px;
  height: 160px;
  background-image: url('../images/coupon-back3.png');
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
  padding-top: 24px;
  padding-bottom: 6px;
  position: relative;
}
.used-coupon_price {
  font-size: 72px;
  height: 55px;
  line-height: 55px;
}
.used-coupon_price span {
  font-size: 24px;
  margin-right: 15px;
}
.used-coupon_price strong {
  font-size: 36px;
  font-style: normal;
}
.used-coupon_limit {
  font-size: 21px;
  letter-spacing: 2px;
}
.used-coupon_date {
  font-size: 16px;
  letter-spacing: 1px;
}
.used-coupon_total {
  height: 60px;
  line-height: 60px;
  border: 1px solid #000;
  padding-left: 50px;
  color: #000;
  letter-spacing: 2px;
  font-size: 18px;
  text-transform: uppercase;
}
.used-coupon_total span {
  font-size: 24px;
  margin-left: 20px;
}
.cart-control_wrap {
  margin-top: 115px;
}
.cart-total_info {
  padding-right: 10px;
}
.cart-total_info ul {
  margin-bottom: 0;
  text-align: right;
}
.cart-total_info li >div {
  display: inline-block;
  color: #808080;
  font-size: 18px;
}
.cart-total_num {
  margin-right: 80px;
}
.cart-total_num span {
  color: #000;
  font-size: 30px;
  margin-left: 20px;
  margin-right: 25px;
}
.cart-info_text {
  width: 180px;
  text-align: left;
}
.cart-total_info li .cart-info_money {
  min-width: 200px;
  color: #000;
  text-align: right;
  font-size: 24px;
  letter-spacing: 1px;
}
.cart-total_info li .cart-total {
  font-size: 30px;
}
.cart-next {
  text-align: right;
  margin-top: 30px;
}
.cart-next .btn {
  float: right;
  border-radius: 0;
  color: #fff;
  background-image: url('../images/check_order_detail.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  line-height: 50px;
  width: 420px;
  text-align: center;
  padding: 0;
  font-size: 20px;
  letter-spacing: 2px;
  border: 0;
}
.cart-next .btn:hover {
  color: #fff;
}
.submit-payment_hd >div {
  float: left;
  border: 1px solid #000;
  height: 220px;
}
.submit-payment_info {
  width: 68%;
  margin-right: 2%;
  padding: 35px 0;
  padding-left: 5%;
  color: #fff;
  background: #000;
}
.payment-info_title {
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 2px;
}
.payment-info_no {
  text-transform: uppercase;
  font-size: 18px;
  color: #808080;
  letter-spacing: 2px;
}
.payment-info_time {
  font-size: 18px;
  letter-spacing: 1px;
}
.payment-info_time span {
  color: #ff0012;
  text-decoration: underline;
}
.submit-payment_total {
  width: 30%;
  padding: 3%;
}
.submit-payment_total .pull-left p {
  font-size: 18px;
  color: #808080;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 32px;
}
.cart-sub_money {
  text-decoration: line-through;
}
.submit-payment_total .pull-right p {
  font-size: 24px;
  color: #000;
  letter-spacing: 2px;
  line-height: 32px;
}
.qrcode-bd {
  width: 68%;
  text-align: right;
  padding-top: 50px;
}
.qrcode-bd>div {
  float: right;
  text-align: center;
}
.qrcode-img p {
  text-align: center;
  font-size: 18px;
  letter-spacing: 2px;
  margin-top: 10px;
  text-transform: uppercase;
}
.other-payment {
  margin-top: 70px;
}
.payment-confirm_hd {
  color: #fff;
  background: #000;
  text-align: center;
  height: 220px;
  padding-top: 70px;
  font-size: 30px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.payment-confirm_bd {
  border: 1px solid #000;
  border-top: 0;
  padding-top: 80px;
  padding-bottom: 70px;
}
.payment-orderno {
  text-align: center;
  font-size: 24px;
  color: #000;
  letter-spacing: 2px;
}
.payment-orderno p {
  text-transform: uppercase;
}
.payment-info_list>div {
  float: left;
  width: 50%;
  padding-left: 75px;
  position: relative;
  padding-top: 15px;
  padding-bottom: 55px;
}
.payment-left:after {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background: #000;
  right: 0;
  height: 100%;
}
.payment-info_title p {
  line-height: 32px;
}
.payment-info_content p {
  line-height: 32px;
  text-transform: uppercase;
}
.payment-left .payment-info_title {
  float: left;
  color: #808080;
  font-size: 18px;
  letter-spacing: 2px;
}
.payment-left .payment-info_content {
  float: right;
  font-size: 24px;
  color: #000;
  letter-spacing: 2px;
  padding-right: 60px;
}
.payment-right .payment-info_title {
  float: left;
  color: #808080;
  font-size: 18px;
  letter-spacing: 2px;
}
.payment-right .payment-info_content {
  float: right;
  font-size: 24px;
  color: #000;
  letter-spacing: 2px;
  padding-right: 60px;
}
.payment-right .payment-info_content span {
  display: block;
}
.payment-info_list {
  margin-top: 75px;
}
.check-order_detail.cart-next {
  margin-top: 0;
}
.check-order_detail .btn {
  text-transform: uppercase;
}