.profile-wrap {
  padding: 0 80px;
  width: 93.75%;
  margin: 0 auto;
}
.profile-left {
    float: left;
    width: 22%;
}
.profile-left_hd {
    margin-bottom: 40px;
}
.profile-right {
    float: right;
    width: 70%;
}
.account-title {
    font-size: 27px;
    color: #000;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}
.account-welcome {
    font-size: 18px;
    letter-spacing: 2px;
    color: #808080;
    text-transform: uppercase;
}
.account-welcome span {
    color: #000;
}
.account-avatar {
    width: 250px;
    background: #e5e5e5;
    text-align: center;
    padding-top: 25px;
}
.account-avatar_upload {
    height: 50px;
    overflow: hidden;
    margin-top: -2px;
}
.account-avatar_upload .btn {
    width: 100%;
    border-radius: 0;
    color: #fff;
    border: 0;
    text-align: center;
    height: 50px;
    line-height: 50px;
    padding: 0;
    background-image: url('../images/upload_photo.png');
    background-repeat: no-repeat;
    background-size: cover;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.account-avatar_upload .btn:hover {
    color: #fff;
}
.profile-menu_item {
    margin-bottom: 55px;
}
.profile-menu_title {
    font-size: 18px;
    color: #000;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.profile-menu_item li {
    margin-bottom: 10px;
}
.profile-menu_item li:last-child {
    margin-bottom: 0;
}
.profile-menu_content {
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
}
.profile-menu_content.current {
    background: #000;
}
.profile-menu_content.current a {
    color: #fff;
}
.profile-menu_content img {
    vertical-align: middle;
}
.profile-menu_content a {
    margin-left: 20px;
    color: #808080;
}
.profile-history {
    margin-top: 100px;
    border-bottom: 1px solid #000;
}
.profile-history_title {
    font-size: 24px;
    color: #000;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-bottom: 1px solid #000;
    padding-bottom: 25px;
}
.profile-history ul {
    margin: 0;
}
.profile-history li {
    padding: 30px 0;
}
.history-item {
    cursor: pointer;
    display: block;
}
.history-item:hover {
    text-decoration: none;
}
.history-item .history-img {
    float: left;
    width: 106px;
    overflow: hidden;
}
.history-item .history-info {
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-left: 146px;
}
.order-report li {
    float: left;
    width: 20%;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #808080;
    font-size: 16px;
}
.order-report_item span {
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    line-height: 50px;
    margin-left: 15px;
    font-size: 20px;
}
.account-balance {
    margin-top: 45px;
}
.myaccount-info_item {
    float: left;
    width: 32%;
    margin-right: 2%;
    text-align: center;
}
.myaccount-info_item:last-child {
    margin-right: 0;
}
.myaccount-info_hd {
    height: 170px;
    border-bottom: 1px dashed #fff;
    color: #fff;
    padding-top: 40px;
}
.credites-info {
    background: #af936e;
}
.coupon-quan {
    background: #120a8f;
}
.mailbox-num {
    background: #808080;
}
.myaccount-info_bd {
    height: 80px;
    line-height: 80px;
    color: #fff;
    background: #000;
}
.myaccount-info_name {
    font-size: 18px;
    text-transform: uppercase;
    margin: 0;
}
.myaccount-info_num {
    font-size: 54px;
}
.myaccount-info_bd span {
    text-transform: uppercase;
    font-size: 14px;
    margin-left: 10px;
}
.credites-info .myaccount-info_bd span {
    color: #af936e;
}
.coupon-quan .myaccount-info_bd span {
    color: #fff;
}
.mailbox-num .myaccount-info_bd a {
    color: #808080;
    text-decoration: underline;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.latest-order {
    margin-top: 80px;
}
.latest-order_title {
    color: #808080;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 20px 0;
    border-bottom: 1px solid #000;
}
.latest-order_content .table>tr>td {
    border-top: 0;
}
.latest-order_content {
    font-size: 14px;
    color: #808080;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.latest-order_name {
    color: #000;
}
.latest-order_sku {
    text-decoration: underline;
    font-size: 11px;
}
.latest-order_price {
    color: #000;
}
.latest-order_num {
    color: #000;
}
.after-complaint {
    color: #808080;
    text-decoration: underline;
}
.latest-order_total {
    color: #000;
}
.latest-order_origin {
    font-size: 12px;
    text-decoration: line-through;
}
.latest-order_shipping {
    font-size: 10px;
}
.latest-order_control a {
    display: block;
    color: #808080;
    text-decoration: underline;
}
.latest-order_control a:first-child {
    font-size: 16px;
}
.latest-order_operation{
    text-align: right;
    border-bottom: 1px solid #000;
}
.latest-order_operation .btn {
    border-radius: 0;
    padding: 0;
    border: 0;
    color: #fff;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    background-image: url('../images/order_operation.png');
    background-repeat: no-repeat;
}
.latest-order_operation .btn:hover {
    color: #fff;
}
.profile-right_ft {
    margin-top: 50px;
}
.profile-ad {
    display: block;
    position: relative;
}
.profile-ad_img img {
    width: 100%;
    height: auto;
}
.profile-ad_text {
    position: absolute;
    height: 200px;
    width: 365px;
    color: #fff;
    text-transform: uppercase;
    top: 50%;
    margin-top: -100px;
    left: 60px;
    font-size: 30px;
    letter-spacing: 5px;
    line-height: 32px;
}
.profile-ad_text p {
    font-size: 14px;
    margin-top: 25px;
}
.profile-common_title {
    color: #000;
    font-size: 18px;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.latest-order_bd {
    margin-top: 100px;
}
.order-status {
    float: right;
    height: 36px;
    color: #fff;
    background-color: #000;
    font-size: 16px;
    text-transform: uppercase;
    width: 410px;
    text-align: center;
}
.order-status_text {
    line-height: 36px;
    position: relative;
}
.order-status_img1 {
    position: absolute;
    top: 0;
    left: -18px;
    z-index: -1;
}
.order-status_img2 {
    position: absolute;
    top: 0;
    right: -18px;
}
.order-date {
    float: right;
    height: 36px;
    color: #fff;
    background-color: #000;
    font-size: 16px;
    text-transform: uppercase;
    width: 250px;
    text-align: center;
    margin-right: 72px;
}
.order-date_text {
    line-height: 36px;
    position: relative;
}
.history-order {
    margin-top: 80px;
}
.history-order_bd {
    margin-top: 50px;
}
.history-order_title {
    color: #000;
    background: #f5f5f5;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 40px;
    border-top: 1px solid #000;
}
.history-order_title>div {
    margin-right: 80px;
}
.history-order_title span {
    margin-right: 15px;
    color: #808080;
}
.history-order_content .table>tr>td {
    border-top: 0;
}
.history-order_content {
    font-size: 14px;
    color: #808080;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.history-order_name {
    color: #000;
}
.history-order_sku {
    text-decoration: underline;
    font-size: 11px;
}
.history-order_price {
    color: #000;
}
.latest-order_num {
    color: #000;
}
.latest-order_total {
    color: #000;
}
.history-order_origin {
    font-size: 12px;
    text-decoration: line-through;
}
.history-order_shipping {
    font-size: 10px;
}
.history-order_control a {
    display: block;
    color: #808080;
    text-decoration: underline;
}
.history-order_control a:first-child {
    font-size: 16px;
}
.history-order_operation{
    text-align: right;
    border-bottom: 1px solid #000;
}
.history-order_operation .btn {
    border-radius: 0;
    padding: 0;
    border: 0;
    color: #fff;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    background-image: url('../images/order_operation.png');
    background-repeat: no-repeat;
}
.history-order_operation .btn:hover {
    color: #fff;
}
/* wish list */
.profile-right_title {
    margin-top: 80px;
}
.profile-tab .nav-tabs {
    border-color: #000;
}
.profile-tab .nav-tabs>li {
    float: right;
}
.profile-tab .nav-tabs>li>a {
    width: 188px;
    text-align: center;
    border-radius: 0;
    font-size: 12px;
    color: #000;
    letter-spacing: 3px;
    text-transform: uppercase;
    border-color: #000;
    margin-right: 0;
    background-color: #fff;
}
.profile-tab .nav-tabs>li:first-child>a {
    border-right: 1px solid #000;
}
.profile-tab .nav-tabs>li.active>a,
.profile-tab .nav-tabs>li>a:focus,
.profile-tab .nav-tabs>li>a:hover,
.profile-tab .nav-tabs>li.active>a:focus,
.profile-tab .nav-tabs>li.active>a:hover
 {
    border-color: #000;
    color: #fff;
    background-color: #000;
}
.wishlist {
    margin-top: 20px;
}
.wishlist-item {
    float: left;
    width: 33%;
    margin-right: 0.5%;
    border: 1px solid #000;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}
.wishlist-item:nth-child(n+3) {
    margin-right: 0;
}
.wishlist-item_img {
    width: 100%;
    overflow: hidden;
}
.wishlist-item_img img {
    width: 100%;
    height: auto;
}
.wishlist-item_bd>p {
    margin-bottom: 0px;
    letter-spacing: 2px;
    font-size: 14px;
    color: #000;
}
.wishlist-star {
    display: inline-block;
}
.wishlist-item_rate span {
    font-size: 12px;
    color: #000;
    margin-left: 8px;
    display: inline-block;
    line-height: 20px;
}
.wishlist-item_bd .wishlist-item_name {
    color: #000;
    font-size: 15px;
}
.wishlist-item_bd .wishlist-item_sku {
    font-size: 14px;
    color: #808080;
}
.wishlist-item_ft {
    margin-top: 40px;
}
.wishlist-item_ft .btn {
    border-radius: 0;
    float: left;
    width: 50%;
    height: 40px;
    line-height: 40px;
    padding: 0;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.8px;
}
.wishlist-item_ft .btn:hover {
    color: #fff;
}
.wishlist-item_ft .btn-similar {
    background-color: #120A8F;
    border-right: 1px solid #fff;
}
.wishlist-item_ft .btn-addbag {
    background-color: #000;
}
.wishlist-item_ft .btn-soldout {
    width: 100%;
    background-color: #e1e1e1;
    color: #808080;
    border-top: 1px solid #000;
}
.wishlist-item_ft .btn-soldout:hover {
    color: #808080;
}
/* coupon center */
.couponcenter {
    margin-top: 20px;
}
.couponcenter-item {
    float: left;
    width: 33%;
    margin-right: 0.5%;
    border: 1px solid #120a8f;
    border-top: 0;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}
.couponcenter-item:nth-child(n+3) {
    margin-right: 0;
}
.couponcenter-item_hd {
    position: relative;
    width: 100%;
    height: 260px;
    background-image: url('../images/coupon-color1.png');
    background-repeat: no-repeat;
    background-size: contain;
}