<div class="profile-right_ft">
    <a class="profile-ad">
        <div class="profile-ad_img">
        <img src="./images/profile-ad.png" alt="">
        </div>
        <div class="profile-ad_text">
        free standard delivey on ¥180+ orders and free returns on all orders!!!
        <p>see details</p>
        </div>
    </a>
</div>